:root {
	font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
  height: 100vh;
  width: 100%;

  background-color: rgba(237, 244, 237, 0.962);
  /* background-color: rgba(220, 231, 200, 0.208); */
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
  font-weight: lighter;

}
header { 
  font-size: 0.6rem;
  /* font-weight: lighter; */
  padding-top: 30px;
  /* color:rgba(250, 128, 114, 0.656); */
  /* color:  rgba(12, 98, 43, 0.35); */
  /* color: rgba(250, 128, 114, 0.3); */
  color: rgba(0, 0, 0, 0.5);
}

.App {
	margin: 0 auto;
	height: 100%;
	width: max-content;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
form input {
  border-radius: 5%;
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
		0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 30px;
  border: none;

}
form button {
   cursor: pointer;
  transition: all 0.3s ease;
  border: none;
	background: none;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.5rem;
}
form button:hover {
  color: salmon;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
		0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: rgba(0, 0, 0, 0.809);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  /* background-color: rgba(250, 128, 114, 0.671); */
  background-color: rgba(53, 164, 94, 0.58);
}

.complete-btn:hover {
  background-color: rgba(250, 128, 114);
}

.trash-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.todo-input {
  font-family: sans-serif;
  
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: rgba(10, 10, 10, 0.827);
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: black;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/

.favicon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
}
.favicon-grid > button {
  border: 0;
  background: white;
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 8px;
  font-size: 3rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}